# Rules in this file were initially inferred by Visual Studio IntelliCode from the E:\code\self\demo\14-driver-object\driver-object\ codebase based on best match to current usage at 2022/12/4
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

root = true

# 使用空格缩进,缩进为2个字符
[*.{c,cpp,h,hpp}]
indent_style = space
indent_size = 2
table_width = 2

# makefile的缩进保持为tab
[Makefile]
indent_style = tab
table_width = 4
